:root {
  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 20px;
  --background-color: #ffffff;
  --text-color: #000000;
  --secondary-background-color: #f4f4f4;
  --secondary-text-color: #007bff;
  --border-color: #ddd;
  --hover-background-color: #007bff;
  --hover-text-color: #ffffff;
  --card-background-color: #ffffff;
  --card-text-color: #000000;
  --button-active-background-color: #4CAF50;
  --button-active-text-color: #ffffff;
}

[data-theme="dark"] {
  --background-color: #000000;
  --text-color: #ffffff;
  --secondary-background-color: #333333;
  --secondary-text-color: #bbbbbb;
  --border-color: #444444;
  --hover-background-color: #007bff;
  --hover-text-color: #ffffff;
  --card-background-color: #444444;
  --card-text-color: #ffffff;
  --button-active-background-color: #4CAF50;
  --button-active-text-color: #ffffff;
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

html[data-font-size="small"] {
  font-size: var(--font-size-small);
}

html[data-font-size="medium"] {
  font-size: var(--font-size-medium);
}

html[data-font-size="large"] {
  font-size: var(--font-size-large);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.main-container {
  display: flex;
  background-color: var(--background-color);
  color: var(--text-color);
}

.sidebar {
  width: 200px;
  padding: 20px;
  background-color: var(--secondary-background-color);
  border-right: 1px solid var(--border-color);
  height: 100vh; /* Full height of the viewport */
  position: fixed; /* Make it sticky */
  top: 0;
  left: 0;
  overflow-y: auto; /* Make it scrollable */
}

.left-sidebar {
  order: 1;
}

.right-sidebar {
  order: 3;
}

.content {
  flex: 1;
  padding: 15px;
  order: 2;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  list-style-type: none;
  padding: 0;
}

.card {
  margin: 8px 0;
  background-color: var(--card-background-color);
  color: var(--card-text-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-content {
  padding: 8px;
}

button.active {
  background-color: var(--button-active-background-color);
  color: var(--button-active-text-color);
}

.left-navigation-panel {
  width: 200px;
  padding: 20px;
  background-color: var(--secondary-background-color);
  border-right: 1px solid var(--border-color);
  height: 100vh; /* Full height of the viewport */
  position: fixed; /* Make it sticky */
  top: 0;
  left: 0;
  overflow-y: auto; /* Make it scrollable */
}

.left-navigation-panel ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.left-navigation-panel li {
  margin-bottom: 10px;
}

.left-navigation-panel a {
  text-decoration: none;
  color: var(--secondary-text-color);
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--background-color); /* Add background color */
  border: 1px solid var(--secondary-text-color); /* Add border */
}

.left-navigation-panel a:hover {
  background-color: var(--hover-background-color);
  color: var(--hover-text-color);
}

.left-navigation-panel a.active {
  background-color: var(--hover-background-color);
  color: var(--hover-text-color);
}
